@model DeathValley.Models.Parameters

@{
    ViewBag.Title = "Index";
}


<div class="container">
        <table>
            <tr>
                <td>
                    <span>Function: y=</span>
                    <input type="text" id="ParameterA" />
                </td>
                <td>
                    <span>x^2 +</span>
                    <input type="text" id="ParameterB" />
                </td>
                <td>
                    <span>x + </span>
                    <input type="text" id="ParameterC" />
                </td>
                <td>
                    <span></span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Step:</span>
                    <input type="text" id="Step" />
                </td>
            </tr>
            <tr>
                <td>
                    <span>From:</span>
                    <input type="text" id="Range1" />
                    <span>to</span>
                    <input type="text" id="Range2" />
                </td>
            </tr>
        </table>
        <input type="submit" onclick="drawChart()" class="btn btn-primary" />
    </div>

<div id="results"></div>
<div id="chartContainer"></div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")
}